<form action="{{ form.url }}" class="post-password-form" method="post">
  {{ __('This content is password protected. To view it please enter your password below:', 'flynt-starter-theme') }}
  <label for="pwbox-{{ form.inputId }}">{{ __('Password:', 'flynt-starter-theme') }}</label>
  <input name="post_password" id="pwbox-{{ form.inputId }}" type="password" size="20" maxlength="20" />
  <input type="submit" name="Submit" value="{{ __('Submit', 'flynt-starter-theme') | e('html_attr') }}" />
</form>
