<div class="sidebar">
  {% for item in add_year %}

	{% if item.year_type == "single" %}
 	 	{% for var in item.single_pick %}
 	 		<div class="single">
 	 			<a href="{{var.guid}}"><h3>{{ item.year }}</h3></a>
 	 		</div>
	 	{% endfor %}
	{% endif %}

	{% if item.year_type == "multi" %}
		<div class="wrapper" style="display: flex;">
			<a class="show"><h3>{{ item.year }}</h3></a>
		</div>
		<div class="multi" style="display: none;">
			{% for var in item.multi_pick %}
	         <a href="{{var.guid}}"><p>{{var.post_title}}</p></a>
			{% endfor %}
		</div>
	{% endif %}

  {% endfor %}
</div>
